# Vivado project files to ignore

# Vivado generated directories
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.webtalk/
*.Xil/
*.jou
*.log
*.str
*.tmp
*.wdb
*.xml
*.backup
*.data
*.db
*.pb
*.dmp
*.tcl.history
.gen/
.srcs/

# Vivado project-specific files
*.xpr
*.xsd
*.ltx
*.bit
*.bin
*.elf
*.mmi
*.prj
*.bgn
*.rpt
*.html
*.csv
*.xml

# Mac system files
.DS_Store

# User-specific files
*.swp
*.swo
*.bak
*.orig

